// medias
$tablet-width: 1025px;

// colors
$grey: #f2f3f5;
$font: sans-serif;

@mixin mobile {
  @media (min-width: 0px) and (max-width: #{$tablet-width}) {@content;}
}

@mixin desktop {
  @media (min-width: #{$tablet-width + 1px}) {@content;}
}

@mixin bodyMobile {
    text-align: left;
    background-color: $grey;
    margin: 10px;  
}

@mixin bodyDesktop {
    text-align: left;
    background-color: $grey;
    margin-left: 5%;
}

@mixin logoWebMotors {
    padding-top: 20px;
}

@include mobile() {
    body {@include bodyMobile}
    .logo-webmotors {@include logoWebMotors}
}

@include desktop() {
    body {@include bodyDesktop}
    .logo-webmotors {@include logoWebMotors}
}
  