// medias
$mobile-width: 320px;
$maximum-width: 933px;
$maximun-height: 312px;
$fontSize: 14px;
$fontColor: #808080;
$redColor: rgb(199, 24, 24);
$colorBotaoVenda: #f7a500;

@mixin mobile {
  @media (min-width: 0px) and (max-width: #{$maximum-width}) {@content;}
}

@mixin desktop {
  @media (min-width: #{$maximum-width + 1px}) {@content;}
}

@mixin tabSelected {
    border: solid;
    border-width: 3px;
    border-color: #f2f3f5;
    border-bottom-color: $redColor;
    .fas {
        color: $redColor;
    }
    .tab-name {
        color: $redColor;
    }
}

@mixin hoversBorderTab {
    &:hover {
        cursor: pointer;
        border: solid;
        border-width: 3px;
        border-color: #f2f3f5;
        border-bottom-color: $redColor;
        .fas {
            color: $redColor;
        }
        .tab-name {
            color: $redColor;
        }
    }
}

@mixin hoversTab {
    &:hover {
        cursor: pointer;
    }
}

@mixin tabs {
    display: grid;
    grid-template-columns: 180px 180px;
    width: 50%;
    max-width: $maximum-width;
}


@mixin icon {
    text-align: center;
    color: $fontColor;
    font-size: 24px;
    padding-top: 12px;
    @include hoversTab();
}

@mixin tab {
    display: grid;
    grid-template-columns: 90px 90px;
    color: $fontColor;
    @include hoversTab();
}

@mixin tabName {
    font-size: 22px;
}

@mixin comprarWord {
    font-size: 12px;
    &:hover {
        color: $fontColor;
    }
}

@mixin botaoVender {
    text-align: right;
    padding-bottom: 15px;
}

@mixin venderMeuCarro {
    color: $colorBotaoVenda;
    border: solid;
    border-width: 1.5px;
    border-color: $colorBotaoVenda;
    background-color: white;
    font-weight: bold;
    font-size: 15px;
    padding: 8px;
    width: 150px;
    border-radius: 2px;
    &:hover {
        background-color: $colorBotaoVenda;
        color: white;
        cursor: pointer;
    }
}

@mixin limparFiltros {
    font-size: $fontSize;
    width: 30%;
    margin-right: 40px;
    &:hover {
        cursor: pointer;
    }
}

@mixin verOfertas {
    color: white;
    border: none;
    background-color: $redColor;
    font-weight: bold;
    font-size: 16px;
    padding: 15px;
    border-radius: 2px;
    width: 70%;
    margin-top: 30px;
    &:hover {
        background-color: rgb(153, 19, 19);
        cursor: pointer;
    }
}

@mixin buscaAvancada {
    border: none;
    background-color: white;
    &:focus {
        outline: none;
    }
    &:hover {
        cursor: pointer;
    }
}

@mixin grid {
    display: grid;
    grid-template-columns: 47.5% 47.5%;
}

@mixin header {
    @include grid();
    column-gap: 5%;
    margin-top: 50px;
    max-width: $maximum-width;
}

@mixin box {
    background-color: white;
    height: 312px;
    max-width: $maximum-width;
    max-height: $maximun-height;
    color: $fontColor;
}


@mixin gridLocalizacao {
    display: grid;
    grid-template-columns: 65% 35%;
}

@mixin row {
    @include grid;
    padding: 15px;
    column-gap: 5%;
}

@mixin groupForm {
    @include grid;
    column-gap: 5%;
}

@mixin groupFormLocalizacao {
    @include gridLocalizacao();
}

@mixin firstRow {
    padding-left: 5px;
    padding-right: 15px;
}

@mixin formFirstRow {
    padding: 10px;
}

@mixin form {
    border-style: solid;
    border-width: 1px;
    border-color: #bababa;
    padding: 10px;
}

@mixin localizacao {
    border-style: none;
    height: 100%;
}

@mixin formInput {
    @include form;
    border-right-color: white;
}

@mixin label {
    font-size: $fontSize;
    color: $fontColor;
    &:focus {
        outline: none;
    }
}

@mixin buscaIcone {
    font-size: 13px;
    color: $redColor;
}

@mixin opcoesAvacadasBox {
    margin-top: 10px;
}

@mixin opcoesAvancadas {
    margin-left: 15px;
}

@mixin buscaAvancadaLabel {
    font-size: $fontSize;
    font-weight: bold;
    margin-left: 10px;
    color: $redColor;
}

@mixin markerIcon {
    padding-right: 8px;
    color: $redColor;
}

@include mobile() {
    .tab {@include tab};
    .tab-name {@include tabName};
    .tab-selected {@include tabSelected()};
    .comprar {@include comprarWord};
    .fa-car, .fa-motorcycle {@include icon};
    .tabs {@include tabs};
    .botao-vender {@include botaoVender()};
    .vender-meu-carro {@include venderMeuCarro()};
    .botao-ofertas {@include verOfertas()};
    .botao-limpar-filtros {@include limparFiltros()};
    .busca-avancada {@include buscaAvancada()};
    .busca-icone {@include buscaIcone()};
    .header {@include header};
    .box {@include box};
    .row {@include row};
    .group-form {@include groupForm};
    .first-row {@include firstRow()};
    .forms {@include form};
    .form-input {@include formInput()};
    .form-first-row {@include formFirstRow()}
    .localizacao {@include localizacao()};
    .group-form-localizacao {@include groupFormLocalizacao()};
    .label {@include label()};
    .opcoes-avancadas-box {@include opcoesAvacadasBox()};
    .opcoes-avancadas {@include opcoesAvancadas()};
    .busca-avancada-label {@include buscaAvancadaLabel()};
    .fa-map-marker-alt {@include markerIcon()};
    input[type=text] {
        font-weight: bold;
    }
}

@include desktop() {
    .tab {@include tab};
    .tab-name {@include tabName};
    .tab-selected {@include tabSelected()};
    .comprar {@include comprarWord};
    .fa-car, .fa-motorcycle {@include icon};
    .tabs {@include tabs};
    .botao-vender {@include botaoVender()};
    .botao-ofertas {@include verOfertas()};
    .botao-limpar-filtros {@include limparFiltros()};
    .vender-meu-carro {@include venderMeuCarro()};
    .busca-avancada {@include buscaAvancada()};
    .busca-icone {@include buscaIcone()};
    .header {@include header};
    .box {@include box};
    .row {@include row};
    .group-form {@include groupForm};
    .first-row {@include firstRow()};
    .forms {@include form};
    .form-input {@include formInput()};
    .form-first-row {@include formFirstRow()};
    .localizacao {@include localizacao()};
    .group-form-localizacao {@include groupFormLocalizacao()};
    .label {@include label()};
    .opcoes-avancadas-box {@include opcoesAvacadasBox()};
    .opcoes-avancadas {@include opcoesAvancadas()};
    .busca-avancada-label {@include buscaAvancadaLabel()};
    .fa-map-marker-alt {@include markerIcon()};
    input[type=text] {
        font-weight: bold;
        font-size: 13.5px;
    }
}
  