// medias
$mobile-width: 320px;
$maximum-width: 933px;

// colors
$grey: #f2f3f5;
$font: sans-serif;

@mixin mobile {
  @media (min-width: 0px) and (max-width: #{$maximum-width}) {@content;}
}

@mixin desktop {
  @media (min-width: #{$maximum-width + 1px}) {@content;}
}

@mixin tabs {
    width: 100%;
}

@mixin venderMeuCarro {
    margin-left: 80%;
}

@mixin box {
    background-color: white;
    height: 312px;
    max-width: $maximum-width;
}

@mixin boxMobile {
    @include box();
    margin: 10px;
}

@mixin boxDesktop {
    @include box();
    margin: 10px 5% 10px 5%;
}

@mixin grid {
    display: grid;
    grid-template-columns: 47.5% 47.5%;
}

@mixin row {
    @include grid;
    padding: 15px;
    column-gap: 5%;
}

@mixin groupForm {
    @include grid;
    column-gap: 5%;
}

@mixin firstRow {
    padding-left: 5px;
    padding-right: 15px;
}

@mixin formFirstRow {
    padding: 10px;
}

@mixin form {
    border-style: solid;
    border-width: 1px;
    border-color: #bababa;
    padding: 10px;
}

@mixin localizacao {
    border-style: none;
}

@mixin raio {
    border-style: solid;
    border-width: 1px;
    border-color: white;
    padding: 10px;
    border-left-color: #bababa;
    border-top-color: #bababa;
}

@include mobile() {
    .vender-meu-carro {@include venderMeuCarro()};
    .box {@include boxMobile};
    .row {@include row};
    .group-form {@include groupForm};
    .first-row {@include firstRow()};
    .forms {@include form};
    .form-first-row {@include formFirstRow()}
    .localizacao {@include localizacao()};
    .raio {@include raio};
}

@include desktop() {
    .vender-meu-carro {@include venderMeuCarro()};
    .box {@include boxDesktop};
    .row {@include row};
    .group-form {@include groupForm};
    .first-row {@include firstRow()};
    .forms {@include form};
    .form-first-row {@include formFirstRow()};
    .localizacao {@include localizacao()};
    .raio {@include raio};
}
  