// medias
$mobile-width: 320px;
$maximum-width: 933px;
$maximun-height: 312px;
$fontSize: 15px;
$fontColor: #808080;
$redColor: rgb(199, 24, 24);

@mixin mobile {
  @media (min-width: 0px) and (max-width: #{$maximum-width}) {@content;}
}

@mixin desktop {
  @media (min-width: #{$maximum-width + 1px}) {@content;}
}

@mixin vehiclesPage {
  margin-top: 120px;
  padding-top: 10px;
  max-width: $maximum-width;
  background-color: white;
}

@mixin titlePage {
  font-size: 22px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px;
  margin-bottom: 50px;
  margin-left: 25%;
  margin-right: 25%;
  color: $fontColor;
  background-color: #f0f0f0;
  border-bottom: solid;
  border-bottom-color: $redColor;
}

@mixin vehicleProps {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}

@mixin vehicleImage {
  border-radius: 20px;
  width: 340px;
  height: 260px;
}

@mixin propTitle {
  display: grid;
  grid-template-columns: 30% 70%;
  color: $fontColor;
  text-align: left;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: $fontSize;
}

@mixin propType {
  font-weight: bold;
  color: #404040;
  text-align: right;
}

@mixin emptyFilter {
  text-align: center;
  color: $fontColor;
  font-size: $fontSize;
  padding-bottom: 20px;
}

@include mobile() {
  .vehicles-page {@include vehiclesPage}
  .title-page {@include titlePage()}
  .vehicle-props {@include vehicleProps()}
  .vehicle-image {@include vehicleImage()}
  .prop-title {@include propTitle()};
  .prop-type {@include propType()};
  .empty-filter {@include emptyFilter()};
}

@include desktop() {
  .vehicles-page {@include vehiclesPage}
  .title-page {@include titlePage()}
  .vehicle-props {@include vehicleProps()}
  .vehicle-image {@include vehicleImage()}
  .prop-title {@include propTitle()};
  .prop-type {@include propType()};
  .empty-filter {@include emptyFilter()};
}